@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #dfe9f5;
}

nav{
  position: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  background: #6EC531;
  width: 90px;
  overflow: hidden;
  transition: width 0.2s;
  box-shadow: 0 20px 35px rgba(0,0,0,0.1);
  position: fixed; 
}

.logo{
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10px;
}

.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo span{
  font-weight: bold;
  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

a{
  position: relative;
  color: #fff;
  font-size: 14px;
  display: table;
  width: 300px;
  padding: 10px;
}

.material-symbols-outlined{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}

a:hover{
  background: #FF6600;
}

nav:hover{
  width: 280px;
  transition: all 0.5s ease;
}

.logout{
  position: absolute;
  bottom: 0;
}

.content{
  margin-left: 90px;
}


.pageHeader {
  margin-top: 15px;
  margin-left: 100px;
  /* margin-right: 10px; */
  /* padding: 2%; */
  font-weight: bold;
  font-size: 2.2rem;
  font: 500;
  color: #fc7200;
}

.body_content {
  margin-top: 2%;
  margin-left: 100px;
  margin-right: 10px;
  padding: 2%;
  background-color: #a6d484;
  border-radius: 10px;
  border: #fc7200;
  border-width: 10px;
}

.body_content h1 {
  font-weight: bold;
  font-size: 1.5rem;
  font: 500;
  
}




.order_btn{
  align-items: center;
  float: right;
}

.btn-center{
  align-items: center;
}

.order_btn:hover{
  color: #fc7200;
}


































*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  height: 100%;
}

body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

p{
  margin-bottom: 15px;
}

footer{
  
  text-align: center;
  text-transform: uppercase;
  margin-top: auto;
}

.footer-copyright{
  background-color: #6EC531;
  color: #fff;
  padding: 15px;
  margin-top: 30px;
}

.footer-copyright p{
  margin-bottom: 0px;
}














/* button{
  font-size: 1rem;
  margin-top: 1.8rem;
  padding: 10px 0;
  border-radius: 6px;
  outline: none;
  border: none;
  width: 90%;
  color: #fff;
  cursor: pointer;
  background: #6EC531;
  margin-left: 270%;
}

button:hover{
  font-size: 1rem;
  margin-top: 1.8rem;
  padding: 10px 0;
  border-radius: 6px;
  outline: none;
  border: none;
  width: 90%;
  color: #fff;
  cursor: pointer;
  background: #FF6600;
} */
