@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background-image: url('BeFunky-design (3).png');
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #6EC531;
    font-size: 1rem;
}

a:hover{
    color: #FF6600;
}

/* HEADER */

header{
    position: relative;
    padding: 0 2rem;
    color: #07001f;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #dfdfdf;
    color: #6EC531;
  
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: #6EC531;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:hover{
    background-color: #FF6600;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:active{
    scale: 0.95;
}

/*Dropdown Menu*/

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(225,225,225,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;}

.dropdown_menu open{
    height: 240px;

}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Responsive Design*/

@media(max-width: 992px) {
    .navbar links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}


.content1{
    padding-top: 1000px;
}


.active{
    color: #FF6600;
}



/* Footer */

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

p{
    margin-bottom: 15px;
}

footer{
    
    text-align: center;
    text-transform: uppercase;
    margin-top: auto;
}

.footer-copyright{
    background-color: #6EC531;
    color: #fff;
    padding: 15px;
    margin-top: 30px;
}

.footer-copyright p{
    margin-bottom: 0px;
}





























































@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #dfe9f5;
}

.wrapper{
    width: 350px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.2rem;
}

form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    background: #e4e4e4 ;
}

button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 6px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: #6EC531;
}

button:hover{
    background: #FF6600;
}

input:focus{
    border: 1px solid rgb(192, 192, 192);
}


.terms{
    margin-top: 0.2rem;
}

.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}


.terms label{
    font-size: 0.7rem;
}

.terms a{
    color: #fc7200;
    text-decoration: none;
}


.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}

.member a{
    color: #fc7200;
    text-decoration: none;
}



.recover{
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}

.recover a{
    text-decoration: none;
    color: #fc7200;
}


























.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before, .loader:after{
    content: '';
    border: 1em solid #FF6600;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before{
    animation-delay: 5s;
}

@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}





































